@model BellaNapoli.Models.Usuario

@{
    // ViewData["Title"] = "Crear Usuario";
}

<h1 class="text-success text-center">Crear Usuario</h1>
<h4 class="text-center text-muted">Usuario</h4>
<hr />
<div class="container-crear">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Documento"></label>
            <input asp-for="Documento" class="form-control" />
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NombreCompleto"></label>
            <input asp-for="NombreCompleto" class="form-control" />
            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="form-control" type="email"
                   pattern="^[a-zA-Z0-9._%+-]+@@xxxxx\.com$"
                   title="El correo debe terminar en @@xxxxx.com" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Clave"></label>
            <input asp-for="Clave" class="form-control" />
            <span asp-validation-for="Clave" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdRol"></label>
            <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
        </div>

        <div class="form-group">
            <label asp-for="Estado" class="control-label"></label>
            <div class="radio-buttons">
                <label>
                    <input asp-for="Estado" type="radio" value="true" /> Habilitado
                </label>
                <label>
                    <input asp-for="Estado" type="radio" value="false" /> Deshabilitado
                </label>
            </div>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="form-buttons text-center">
            <input type="submit" value="Crear" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

